body{
    background-color: #121212;
    color: white;
    font-family: 'Open sans';
    text-align: center;
    margin: 0;
    padding: 0;
}
#locationForm{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

#locationInput{
    width: 300px;
    height: 30px;
    border-radius: 8px;
    border: none;
    padding: 8px;
    margin-bottom: 8px;
    font-size: 1.4rem;
    background-color: #1f1f1f;
    color: white;
}
#locationSubmit{
    width: fit-content;
    height: fit-content;
    border-radius: 8px;
    border: none;
    padding: 16px;
    margin-bottom: 4px;
    font-size: 1.4rem;
    background-color: #1f1f1f;
    color: white;
    cursor: pointer;
}
.place{
    background-color: #1f1f1f;
    border-radius: 8px;
    margin: 8px;
    padding: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    width: fit-content;
    font-size: 125%;
}
#inputResults{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
.waittext{
    margin-top: 8px;
    font-size: 125%;
}
#tutorialButton{
    background-color: #1f1f1f;
    color: white;
    padding: 8px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-size: 1.4rem;
    margin-bottom: 8px;
    position: absolute;
    top: 8px;
    right: 8px;
}

@font-face {
    font-family: 'Open sans';
    src: url(/src/fonts/Open_sans/OpenSans-Regular.ttf);
}